//Colors
$timberwolf: #D2DAD3; //Light green.  Use for background
$black: #02020A; //Darker gray.  Use for text
$dark-gray: #070722; //Dark gray.  Use for primary Text
$auburn: #A52422; //Red use for primary color
$orange: #D98325; // Use for Secondary Color
$rhythm: #777DA7; //Use for Tertiary Color
