@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "bootstrap-theme";
@import "font-awesome";
@import "fonts";
@import "cloudy";
@import "variables";
@import "theming";
@import "loading-anim";

.img-fluid{
    width: 100%;
    height: auto;
}

.lazy-load{
    filter: blur(20px);
    transition: 0.3s;

    &.loaded{
        filter: blur(0);
    }
}

#posts-loader{
    padding: 1rem 2rem;
    margin: 2rem 0;
    background: #fff;
}