@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "bootstrap-theme";
@import "font-awesome";
@import "fonts";
@import "cloudy";
@import "variables";
@import "theming";
@import "loading-anim";

.img-fluid{
    width: 100%;
    height: auto;
}

.lazy-load{
    filter: blur(20px);
    transition: 0.3s;

    &.loaded{
        filter: blur(0);
    }
}

#posts-loader{
    padding: 1rem 2rem;
    margin: 2rem 0;
    background: #fff;
}

.header-bkg{
    background: #fff;
    padding: 30px 0;
    margin-bottom: 2rem;

    @include md{
        padding: 30px 60px;
    }
}

.sidebar .widget .widget-recent img{
    height: auto;
}

article.content-item .post-content picture:first-child img{
    margin-bottom: 2rem;
}

.initial{
    font-size: 3rem;
    line-height: 1;
    margin-right: 0.5rem;
    float: left;
}