{% load static %}
<div class="widget">
    <h3 class="widget-title">About Nerd Hax</h3>
    <div class="bubble-line"></div>

    <div class="widget-content">
        <img src="{% static 'images/no-fakeshit.jpg' %}" 
            alt="neon sign displaying no fake shit"
        >
        <p>Your mission, if you choose you accept it, 
            is to be your awesome self and engange with 
            other humans in meaningful ways.
        </p>
        <div class="widget-more">
            <a href="/about" class="button">Read About Nerd Hax</a>
        </div>
    </div>
</div>