{% extends 'base.html' %}

{% block content %}
<section class="section-content">
    <div class="container">
        <div class="row">
            <div id="posts" class="col-sm-8 col-md-8">
                <!--Loop through Posts-->
                <!--Call Through Ajax-->
            </div>
            <div class="col-sm-4 sidebar">
                {% include 'about-widget.html' %}
                {% include 'categories-widget.html' %}
                {% include 'tags-widget.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}