{% extends 'base.html' %}

{% block content %}
<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 pb-5">
                <div id="posts">
                <!--Loop through Posts-->
                <!--Call Through Ajax-->
                </div>
                <div id="posts-loader">
                    {% include 'loader-anim.html' %}
                </div>
                <div id="load-more">
                    <button class="button" onClick="loadposts()">
                        Load More...
                    </button>
                </div>
            </div>
            <div class="col-sm-4 sidebar">
                {% include 'about-widget.html' %}
                {% include 'categories-widget.html' %}
                {% include 'tags-widget.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
  loadposts();
</script>
{% endblock %}