<article class="post-prev content-item">
    <div class="entry-media">
        <div class="post-title">
            <h2>
                <a href="/posts/post/{{post.slug}}">
                    {{ post.title }}
                </a>
            </h2>
            <div class="entry-date">
                <ul>
                    <li>
                        <a href="/posts/category/{{post.category.slug}}">
                            {{post.category.name}}
                        </a>
                    </li>
                    <li>
                        {{ post.publish_date|date:'M j, Y' }}
                    </li>
                </ul>
            </div>
        </div>
        {% include 'bubble-line.html' %}
        <div class="post-content">
            {{ post.featured.render_lazyload|safe }}
            <h5 class="mt-0 mb-3">
              By: {{ post.author.first_name }} {{ post.author.last_name }}
            </h5>
            {{ post.content|safe|linebreaksbr|truncatechars_html:155 }}
            <div class="bubble-line"></div>
            <br />
            <h4><strong>
                <a href="/posts/post/{{post.slug}}">[Read More]</a>
            </strong></h4>
        </div>
        {% include 'bubble-line.html' %}
        <div class="post-footer">
            <div class="row">
                <div class="col-sm-5 s-tags">
                    {% for tag in post.tags.all %}
                        <a href="/posts/tag/{{ tag.tagname }}">
                            {{ tag.tagname }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>